
docopt==0.6.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
numpy @ file:///D:/bld/numpy_1672415916426/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.5.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
spacy==3.5.0
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1672303484730/work
srsly @ file:///D:/bld/srsly_1666955540387/work
thinc @ file:///D:/bld/thinc_1673623777744/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1662214488106/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1667832226065/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1673452138552/work
wasabi==0.10.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1667051142467/work
zipfile2==0.0.12
