docopt==0.6.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
pandas==1.5.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1673863902341/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1664752510089/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1672751587911/work
six==1.16.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
spacy==3.5.0
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1672303484730/work
zipfile2==0.0.12
nltk~=3.8.1

tqdm~=4.64.1
torch~=2.0.1
transformers~=4.30.1
numpy~=1.24.1
streamlit~=1.23.1
kaggle